/*
* Filename: 	Stylesheet.css
* Description: 	Provides the styles necessary to make Night Owl Software.
* Author: 		Erik Mellum
* Created:      09/22/12
* Updated:      09/22/12
*/

*{
	margin: 0;
	padding: 0;
}
body{
	overflow: hidden;
	margin-top: 30px;
	background-image: url('../images/night_owl_background.png');
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#wrap{
	width:964px;
	min-width: 780px;
	max-width: 1260px;
	height: 1024px;
	max-height: 1024px;
	min-height: 580px;
	margin:0 auto; 
	padding: 25px 25px;
	border: 4px solid #FFFFFF;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
header{
	min-width: 400px;
	width: 550px;
	max-width: 768px;
	margin: 0 auto;
	margin-bottom: 25px;
}
img[src]{
	float: left;
	height: 60px;
	width: 60px;
}
aside.left{
	min-width: 180px;
	max-width: 180px;
	min-height: 300px;
	height: 400px;
	max-height: 768px;
	float: left;
	background: #FFFFFF;
	margin-right: 25px;
	margin-bottom: 25px;
}
p{
	font-family: Helvetica, sans-serif;
	text-align: justify;
	padding: 2px 5px;
	font-size: 14px;
}
ul.left{
	margin-left: 20px;
}
section.center{
	min-width: 400px;
	width: 550px;
	max-width: 768px;
	min-height: 200px;
	height: 250px;
	max-height: 568px;
	background: #FFFFFF;
	float: left;
	margin-bottom: 25px;
}
section.center
p{
	min-width: 498px;
	width: 500px;
	max-width: 498px;
	margin-left:1px;
	background: #FFFFFF;
	text-indent: 1px;
}
section.bottom{
	max-width: 768px;
	width: 550px;
	min-width: 400px;
	min-height: 100px;
	height: 125px;
	max-height: 175px;
	background: #FFFFFF;
	float: left;
	margin-bottom: 25px;
}
aside.right{
	min-width: 180px;
	max-width: 180px;
	min-height: 300px;
	height: 400px;
	max-height: 768px;
	float: right;
	background: #FFFFFF;
	margin-left: 25px;
	margin-bottom: 25px;
}

h1,h2,h3{
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	padding-bottom: 5px;
	background: #FFFFFF;
	color:#000000;
	text-shadow: -2px -2px 4px #000000;
}
h3 {
	text-align: left;
	text-decoration: underline;
	padding-left: 10px;
}
ul li:first-child{
				list-style-type: square;
}
a:link{
	color: #FF0000;
}
a:visited{
	color: #228B22;
}
a:active{
	font-weight: bold;
}
a:hover,
a:focus{
	color: #1E90FF;
}